body {
    background-color: lavenderblush
}

.Link {
    text-decoration: none;
}

.Carnitas {
    background-color: lightpink;
    width: 130px;
}

.Ingredients {
    background-color: lightgoldenrodyellow;
    width: 200px;
}